
/* Fonts */
@font-face {
  font-family: "PTSans";
  src:
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;}
@font-face {
  font-family: "PTSans";
  src:
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;}

/* Variables */
 :root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-blu: #81B3D2;
  --basic-extra-gray: #766357;
  --basic-gray-lead: #888888;
  --basic-dark: #333333;
  --basic-gray-darken: #EEEEEE;
  --basic-blu-gray: #F2F2F2;
  --basic-gray: #666666;
  --basic-light_grey: #CACACA;
  --basic-gray-gray:#604E43;
  --basic-gray-dim:#503E33;
  --basic-dim-dim:#A9A9A9;
  --basic-bright-dim:#ABABAB;/*наведение range*/
  --basic-bright: #669EC0;/*наведение*/
  --basic-dim: #5496BD;/*нажатие*/
  --basic-blu-white-gray: #E5E5E5;/*нажатие модальное окно*/
  --basic-blu-gentle-gray:#EBEBEB;/*наведение модальное окно*/

  --link-color: #bright;
  --input-color: #color;
}

.page-body {
  min-width: 1280px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  text-transform: uppercase;
  background-color: var(--basic-blu-gray);
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {text-decoration: none;}

.wrapper {
  max-width: 1200px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
  background-position: top center;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}


img {
  max-width: 100%;
  min-height: auto;
  display: block;
}
 .resons-item1 h3 {
  color: var(--basic-white);
}

/* Main navigation */
 .main-header {
  display: flex;
  flex-wrap: wrap;
  min-height: 55px;
  margin:0 auto;
  padding: 0;
}

 .main-navigation {
  display:  grid;
  padding: 0 ;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}


 .main-header-logo {
  justify-self: center;
  width: 138px;
  min-height: 70px;
  padding: 0;
  margin-bottom: -84px;
  z-index: 10;
}
 .site-navigation  {
   list-style: none;
   display: flex;
   width: 1200px;
   min-height: 100%;
   flex-wrap: wrap;
   justify-content: space-around;
   padding: 0;
   box-sizing: border-box;
}

 .site-navigation a {
  color: var(--basic-black);
  font-weight: 700;
  opacity: 1;
 }
 .site-navigation a.link-current {
  color: var(--basic-extra-gray);
}
 .site-navigation a:hover
{color: var(--basic-blu);}



 .site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}
 .visually-hidden {
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0 );
  clip-path: inset(100%);
  padding:0;
  margin: -1px;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.welcom {
  min-height: 509px;
  background-image: url("/img/group1.svg");
  background-repeat: no-repeat;
  position: relative;
}
.group1  {
  background-image: url("/img/group1.svg");
  position: absolute;
  top: 52px;
  margin-left: 371px;
  width: 457px;
}

.foto_mask {
  background-image: url("/img/shape-min.png");
  position: absolute;
  top: 452px;
  width: 1200px;
}

.item2,
.item22 {
  padding: 0;
  margin: 0;
  background-color: #81B3D2;
  background-size: 800px 256px;
}
/*.item2 img,
.item22 img {
  width: 800px;
  height: 256px;
  object-fit: ;}*/



.item22 {
  grid-column: 1/3;
  grid-row: 1/1;
  grid-template-columns: 1fr 1fr;
}
.item2 {
  grid-column: 2/4;
}
.basic {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  }

.reasons {
  margin: 0;
  padding: 0;
}

  .search-hotels {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    min-height: 233px;
    justify-content: center;
    align-items: center;
  }

 p.search-hotels {
   width: 100%;
   min-height: 95px;
   text-align: center;
   margin: 0 auto;
  }

 .reasons-list {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.infrastructure-list {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.one_reasons,
.two_reasons {
  width: 310px;
  min-height: 43px;
  margin: auto;}

p.three_reasons,
p.four_reasons,
p.five_reasons {
  min-height: 28px;
  margin: auto;
  padding-top: 0;
  padding-bottom: 10px;
}
 li.resons-item {
   display: flex;
   flex-wrap: wrap;
  /* width: 30%;*/
   min-height: 256px;
 }


.three_reasons {
  width: 207px;
}

.four_reasons {
  width: 258px;
}

.five_reasons{
  width: 246px;
}

.infrastructure-list h4{
  width: inherit;
  color: var(--basic-black);
  text-align: center;
  margin-top: 160px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

 .reasons-item h3 {
  color: var(--basic-black);
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  max-width: min-content;
  min-height: 43px;
  margin: auto;
}

.infrastructure-item {
  position: relative;
  text-align: center;
  color: var(--basic-dark);
  vertical-align: top;
  margin-bottom: 82px;
  width: 400px;
  min-height: 256px;
}

.home p {
  width: 254px;
  min-height: 42px;
  margin: auto;
}
 .food p {
  width: 297px;
  min-height: 42px;
  margin: auto;
}
 .souvenirs p{
  width: 269px;
  min-height: 43px;
  margin: auto;
}
.home h4::before,
.food h4::before,
.souvenirs h4::before {
  content: "";
  position: absolute;
  left: 50%;
  /*right: 0;*/
  top: 25%;
  transform: translateX(-50%);

}

.home h4::before {
  width:75px;
  height:72px;
  background-image: url("/img/icon-1.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

 .food h4::before {
  width:75px;
  height:70px;
  background: url("/img/icon-3.svg");
}
.souvenirs h4::before {
  width:64px;
  height:77px;
  background: url("/img/icon-2.svg");
}
.reasons-item {
  background-color: var(--basic-gray-darken);
  padding-top: 47px;
  padding-bottom: 54px;

}

  h3.title {
  width: 150px;
  margin: 47px auto 25px auto;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  min-height: 43px;
 }

h2.title-reason {
  max-width: 470px;
  margin: 0 365px 0;
  padding-top: 28px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}
  section.reasons h2.title-reason {
    vertical-align: top;
    margin-bottom: 0;
    margin-top: 14px;
    min-height: 80px;
  }

  p.reason {
    margin-top: 16px;
    min-height: 26px;
    width: 512px;
    padding-bottom: 36px;
 }

  div.title-reason {
   display: flex;
   flex-wrap: wrap;
   min-height: min-content;
   width: 1200px;
   justify-content: center;

   margin: 0;
   padding: 0;

 }

 .reasons-item1,
 .reasons-item11 {
   background-color: var(--basic-blu);
   color: var(--basic-white);
   max-width: 400px;
   min-height: 256px;
   margin: 0;
   padding: 0;
}

.iframe-map {
  margin-bottom: -120px;
  padding: 0;
}

.button-map
{background-color: var(--basic-extra-gray);
  display: flex;
  min-height: 86px;
}

.button-map:hover,
.button-map:hover span
{background-color: var(--basic-gray-gray);}

.button-map:focus
  {background-color: var(--basic-gray-dim);
  opacity: 1;
  }
.button-map:focus span{
  background-color: var(--basic-gray-dim);
  opacity: 0.3;
}

/*modal*/
.modal {
  display: none;
  position: fixed;
  margin: auto;
  bottom:0;
  top: 0;
  left: 0;
  right: 0;
  width: 568px;
  height: 395px;
  color: var(--basic-black);
  font-weight: 700;
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  box-sizing: content-box;
  /*border: none;
  */
}
.modal--show  {
  display: block;
  animation: bounce 0.6s;
}
/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
.modal-error {
  animation: shake 0.6s;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-search{
  width: 457px;
  height: 285px;
  padding: 55px;
  background-color: var(--basic-white);
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  bottom: auto;
}
p.date-search {
  margin-bottom: 29px;
}
p.date-search span {
  padding-left: 34px;
}
.date-search{
  display: flex;
  text-align: left;
  background-color: var(--basic-blu-gray);
  }

.date-search-white {
  background-color: var(--basic-white);
  margin-left: 0;
  width: 121px;
   }

.border-removed-input {
  border: 0;
  padding: 0;
  background-color: inherit;
  font-weight: 700;
  width: 44px;
  height: 38px;

}

input[type=text] {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  }

input[type=text]:hover
{ border:0;
  background-color: var(--basic-blu-gentle-gray);
  }
input[type=text]:focus
{ border: 2px solid var(--basic-blu-white-gray);
  outline-color: var(--basic-blu-white-gray);
  background-color: var(--basic-white);
}
.search input[type=text]{
  text-align: center;
}
/*кнопки формы поиска*/
.search button {
  margin: 0;
  padding: 0;
  border: none;
  width: 44px;
  min-height: 38px;
  position: relative;
 }

.btn_plus:before{
  content: url("/img/plus-min.svg");
  }

.btn_minus:before{
  content: url("/img/minus-min.svg");
  margin: auto;
  position: absolute;
  top:22%;
  left: 35%;
   }
.btn_minus:hover:before {
  content: url("/img/black_minus.svg");
  }
.btn_plus:hover:before {
  content: url("/img/black_plus.svg");
}

.btn_plus:active:before {
  content: url("/img/blue_plus.svg");
}
.btn_minus:active:before {
  content: url("/img/blue_minus.svg");
}
 input.calendar{
 padding-left: 12px;
}

input[type=text].calendar{
  width: 346px;
  height: 38px;
  background-image: url("/img/calendar-min.svg");
  background-position: 315px 5px;
  position: relative;
  background-repeat: no-repeat;
  box-sizing: border-box;
}


  input[type=text].calendar:hover {
  background-image: url("/img/calendar black-min.svg");}

  input[type=text].calendar:focus {
  background-image: url("/img/calendar blu-min.svg");}

.btn-modal   {
  width: 458px;
  height: 58px;
  border: none;
  padding: 16px 181px;
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 26px;
  font-size: 21px;
  }

.btn-modal{
  background-color: var(--basic-blu);
  }

.btn-modal:hover{
  background: var(--basic-bright);
  }

.btn-modal:focus{
  background-color:var(--basic-dim);
  opacity: 1;
}

.btn-modal:focus span
{  opacity: 0.3;}
/*catalog*/

.filter {
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  height: 217px;
  margin: 0 73px;
}
.filter_housing {
  border: none;
  margin-right: auto;
  min-height: content-box;
  }

.filter_housing label,
.filter_housing legend {
  text-align: left;
  width: 100px;
}


.filter fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin: 26px 0 31px;
  }
.filter fieldset input {
  margin-right: 36px;
}
/*chek*/
.check_input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }
.option {
  display: block;
  margin-bottom: 0.25em;
}
.check {
  padding-left: 2.5em;
}
.check_box {
  position: absolute;
  width: 1.9em;
  height: 1.6em;
  background-image: url("/img/checkbox-off-min.svg");
  background-repeat: no-repeat;
  margin-left: -2.5em;
}
/*checked*/
.check_input:checked + .check_box {
  background-image: url("/img/checkbox-on-min.svg");
  background-repeat: no-repeat;
}
.check_input:focus + .check_box {
  background-image: url("/img/checkbox-off-min.svg");
}
.check_input:checked:focus + .check_box {
  background-image: url("/img/checkbox-on-min.svg");
}
/*disabled*/
.check_input:checked + .check_box {
  background-image: url("/img/checkbox-on-min.svg");
  background-repeat: no-repeat;
}
.check_input:disabled + .check_box {
  background-image: url("/img/checkbox-off-disable.svg");
}
.check_input:checked:disabled + .check_box {
  background-image: url("/img/checkbox-on-disable.svg");
}

.filter_price  {
  display: block;
  border: none;
  margin-top: 26px;
  margin-left: 55px;

}
.filter_price h2{
  /*margin-bottom: 10.5px;*/
  margin-right: auto;
  margin-top: 0;
}
p.input_scale-max {
  margin-left: 50px;
  margin-right: auto;
}

p.input_scale-min{
  margin-left: -10px;
  margin-right: 55px;
  padding-left: 25px;
}
.input_scale p {
  display:  inline-block;
  vertical-align: center;
  margin-top: 3px;
}

.input_scale {
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  margin-bottom: 20px;
  width: 313px;
  height: 32px;
  position: relative;
}

.input_scale span {
  padding-left: 5px;
  vertical-align: center;
}


span[id="scale"]::before  {
  content: url("/img/input_range-min.svg");
  position: absolute;
  right: 0;
  top: 15%;
  bottom: 15%;
  left: 50%;
  background-repeat: no-repeat;
  width:2px;
  height:22px;
}

.slider input[type="range"] {
  height: 2px;
  width: 100%;
  border: none;
  outline: none;
  margin-top: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

  input.min {
  margin-right: -317px;
}

 input.min,
 input.max {
   width: 100%;
 }


.slider {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  height: 2px;
  background: transparent;
  width: 100%;
}
.slider-track {
  height: 2px;
  width: 100%;
  margin: auto;
  position: absolute;
  border-radius: 2px;
  background-color: var(--basic-white);
  opacity: 0.3;
}

input[type="range"]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 2px;
}

input[type="range"]::-moz-range-track{
  -moz-appearance: none;
  height: 2px;
}
input[type="range"]::-ms-track{
  appearance: none;
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--basic-bright-dim);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-gray-lead);
  transform: translate(0,-9px);
  cursor: pointer;
  pointer-events: auto;
}

input[type="range"]::-moz-range-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--basic-bright-dim);
  border: 6px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-gray-lead);
  cursor: pointer;
  pointer-events: auto;
}
input[type="range"]::-ms-thumb{
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--basic-bright-dim);
  border: 6px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-gray-lead);
  cursor: pointer;
  pointer-events: auto;
}
input[type="range"]:hover::-webkit-slider-thumb{
  width: 23px;
  height: 23px;
  opacity: 1;
  border: 9px solid var(--basic-white);
  transition:.1s;
}

input[type="range"]:active::-webkit-slider-thumb{
  width: 23px;
  height: 23px;
}

.filter_price button {
  margin: 31px auto 30px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  text-transform: uppercase;
}

.filter_price button:hover {
  background-color:var(--basic-white);
  color: var(--basic-black);
}

.form-catalog {
  display: block;
  width: 1200px;
  min-height: 127px;
  background-image: url("/img/backgroundcatalog-min.jpg");
  color: var(--basic-white);
  background-repeat: no-repeat;
}


.form-catalog input{
  background: transparent;
  color: var(--basic-white);
}
.form-catalog button{
  background: transparent;
  color: var(--basic-white);
  height: 36px;
  width: 137px;
  border-radius: 2px;
}
.form-catalog legend,
.filter_price h2 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.form-catalog ul {
  list-style: none;
  line-height: 16px;
}

p.price {
  display: flex;
  margin-top: 6px;
  margin-bottom: 14px;
  text-align: left;
}
.sorting span{
  color: var(--basic-black);
  opacity: 0.3;
  text-decoration: underline;
}

.sorting span:hover{
  text-decoration: underline;
  color: var(--basic-blu);
  opacity: 1;
}

.sorting span:focus{
  text-decoration: none;
  color: var(--basic-blu);
  opacity: 1;
}

.sorting span:active {
  color: var(--basic-black);
  text-decoration: none;
}
 /*это пробный блок*/
 /*.content_housing_2 {
   display: flex;
   flex-wrap: wrap;
   height:  ;
text-align: left;
   justify-content:  ;
   flex-grow: 1;
   margin: 0;
}*/
/*закончился пробный*/

.housing h2{
  margin:0;


}
.housing h2:hover {
  color: var(--basic-blu);
}

.housing h2:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.form-catalog-input-checkbox:hover + label,
.form-catalog-input-checkbox:focus + label {
  color: var(--basic-white);
}
.catalog-search-result {
  display: grid;
  height: 86px;
  align-items: center;
  grid-template-columns: 140px 1fr 421px;
  padding-left: 73px;
  border-bottom: 1px solid var(--basic-blu-white-gray);
}
 .catalog-search-result h2{
   width: 135px;
   margin : 0;
   text-align: left;
   padding: 14px 0;
}

.catalog-search-result p {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.sorting_price {
  padding-left:40px;
  padding-right: 32px;
}
.sorting_rating {
  padding-left:33px;
}
.sorting {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px 0 36px 26px;
}

.housing {
  display: flex;
  border-bottom: 1px solid var(--basic-blu-white-gray);
  justify-content: left;
  padding-left: 73px;
  padding-bottom: 30px ;
}
ul.housing-sort {
  margin: 0;
  padding: 0;
}
li.housing {
  min-height: 120px;
}
.content_housing,
.content_apartments,
.content_motel{
  display: flex;
  align-items: flex-end;
}


.content_housing_2,
.content_apartments_2,
.content_motel_2
{ display: flex;
  flex-flow:  wrap;
  width: 258px;
  margin-top: 6px;
  padding-left: 29px;
}

.content_housing_2>*:nth-child(2n),
.content_apartments_2>*:nth-child(2n),
.content_motel_2>*:nth-child(2n)
{ width: 107px;
  margin-right: 9px;
}

.content_housing_3,
.content_apartments_3,
.content_motel_3{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 73px;
}
.catalog {
  margin: 0 auto;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
  height: 120px;
  align-items: center;
  background-color: var(--basic-white);
  opacity: 0.9;
}

.footer-social {
  width: 150px;
  justify-self: center;
  text-align: center;
}

.footer-social ul {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.social-btn a{
  opacity: 0;
}
.footer-social li{
  opacity: inherit;
}
.twitter {
  background-image: url("/img/twitter.svg");
}
 .twitter:hover {
  background-image: url("/img/hover-twitter-min.svg");
}
.twitter:active {
  background-image: url("/img/active-twitter-min.svg");
}
.fbook {
  background-image: url("/img/facebook.svg");
}
.fbook:hover {
  background-image: url("/img/hover-fbook-min.svg");
}
.fbook:active {
  background-image: url("/img/active-fbook-min.svg");
}
.youtube {
  background-image: url("/img/youtube.svg");
}
.youtube:hover {
  background-image: url("/img/hover-youtube-min.svg");
}
.youtube:active {
  background-image: url("/img/active-youtube-min.svg");
}

/* catalog */
/* Сортировка: < > */
.arrows-sorting {
  display: flex;
  margin-right: 74px;
  padding-left: 298px;
  align-items: center;
}
.arrows-sorting button{
  width: 11px;
  height: 11px;
  padding: 0;
  margin-right:6px;
  margin-left: 6px;
  background-image: url("/img/icon-arrow-grey.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.arrows-sorting2{
  transform: rotate(180deg);
}

.arrows-sorting1:hover,
.arrows-sorting2:hover {
  background-image: url("/img/icon-arrow-black.svg");
}
.arrows-sorting1:focus,
.arrows-sorting2:focus,
.arrows-sorting1:active,
.arrows-sorting2:active{
  background-image: url("/img/icon-arrow-blue.svg");
   }

.housing button {
  color: var(--basic-white);
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.button {
  background-color: var(--basic-extra-gray);
  border: none;
  min-height: 27px;
  width: 142px;
  }

.btn-detailed {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--basic-blu);
  min-height: 27px;
  width: 110px;
  border: none;
  font-weight: 700;
 }


.btn-detailed:hover {
  background-color: var(--basic-bright);
 }
.btn-detailed:active
{background-color: var(--basic-dim);
  opacity: 1;
}
.btn-detailed:active span
{  opacity: 0.7;}

.btn-map {
  border: none;
  min-height: 86px;
  width: 568px;
  background-color: var(--basic-extra-gray);
  color: var(--basic-white);
  text-transform: uppercase;
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.button {
  background-color: var(--basic-extra-gray);
}
.button:hover,
.btn-map:hover {
  background-color: var(--basic-gray-gray);
}
.button:active,
.btn-map:active {
  background-color: var(--basic-gray-dim);
  opacity: 1;
}

.button:active span,
.btn-map:active span {
  opacity: 0.7;
}

.footer-copyright p
{ display: flex;
  justify-content: center;
  align-items: center;
}
.footer-copyright img{
  min-height: 33px;
  width: 115px;
  opacity: 0;
}
.footer-copyright a{
  margin-left: 15px;
  background-image: url("/img/logo_htmlacademy.svg");
  background-repeat: no-repeat;
  opacity: inherit;
}
.footer-copyright a:hover {
  background-image: url("/img/logo_html-hover-min.svg");
}
.footer-copyright a:active {
  background-image: url("/img/logo_html-active-min.svg");
}

.stars-stars-3 {
  color: var(--basic-blu);
}


